---
layout: default
---

<div class="home">
  {{ content }}

<h2>news</h2>

<ul class="post-list">
      {%- assign date_format_fr = "%-d %b %Y" -%}

      {%- assign posts = site.posts -%}
      {%- assign docs = site.docs -%}
      {%- assign projets = site.projets -%}

      {%- assign everythings = posts | concat: docs | concat: projets | sort: 'pubdate' | reverse -%}

      {%- for thing in everythings limit: 5 -%}
      <li>
          <span class="post-meta">
            {%- if thing.update -%}
            [MAJ] {{ thing.pubdate | date: date_format_fr }} | publication d'origine&nbsp;
            {%- endif -%}
            {{ thing.date | date: date_format_fr }}
          </span>
          <h3>
            {%- if thing.collection == "posts" -%}
            <a href="/blog/">[Blog]</a>&nbsp;
            {%- else -%}
            <a href="{{ thing.collection | relative_url }}">[{{ thing.collection | capitalize }}]</a>&nbsp; 
            {%- endif -%}
            <a href="{{ thing.url | relative_url }}">{{ thing.title }}</a>
          </h3>
          <p>
          {%- if thing.description -%}
            {{ thing.description }}
          {%- endif -%}
        </p>
      </li>
      {% endfor %}   
  </ul>
</div>
