---
layout: default
---
{%- if page.section_name -%}
<h1 class="page-heading">{{ page.section_name }}</h1>
{%- endif -%}
{{ content }}  
<ul class="post-list">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in site.posts -%}
    <li>
        {% if post.section %}<span class="post-meta">{{ post.section }} | </span>{% endif %}
        <span class="post-meta">dernière maj le {{ post.update | date: date_format }} (publication originale le {{ post.date | date: date_format }})</span>
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt | truncated: 280 }}
        {%- endif -%}
    </li>
    {% endfor %}   
</ul>

