---
layout: default
---

<div class="home">
  {{ content }}

<h2>news</h2>

<ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts limit: 5 -%}
      <li>
          {% if post.section %}<span class="post-meta">{{ post.section }} | </span>{% endif %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncate: 280 }}
          {%- endif -%}
      </li>
      {% endfor %}   
  </ul>
</div>
