---
layout: default
---

<div class="home">
  {{ content }}

<h2>news</h2>

<ul class="post-list">
      {%- assign date_format_fr = "%-d %b %Y" -%}
      {%- assign posts = site.posts | sort: 'pubdate' | reverse -%}
      {%- for post in posts limit: 5 -%}
      <li>
          {% if post.category %}<span class="post-meta"><a href="{{ post.category | relative_url }}">{{ post.category }}</a> | </span>{% endif %}
          <span class="post-meta">
            {{ post.date | date: date_format_fr }}
            {%- if post.update -%}
            - mis à jour le {{ post.pubdate | date: date_format_fr }}
            {%- endif -%}
          </span>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt | truncate: 280 }}
          {%- endif -%}
      </li>
      {% endfor %}   
  </ul>
</div>
